# Dependencias (¡Nunca se suben!)
node_modules/

# Variables de entorno y secretos (¡SEGURIDAD MÁXIMA!)
.env
.env.local
.env.development
.env.test
.env.production

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema operativo (Basura)
.DS_Store
Thumbs.db